.idea
who-owes-who.xcodeproj/project.xcworkspace/contents.xcworkspacedata
who-owes-who.xcodeproj/project.xcworkspace/xcshareddata/who-owes-who.xccheckout
who-owes-who.xcodeproj/project.xcworkspace/xcuserdata/mitch.xcuserdatad/UserInterfaceState.xcuserstate
who-owes-who.xcodeproj/xcuserdata/mitch.xcuserdatad/xcschemes/who-owes-whoTests.xcscheme
who-owes-who.xcodeproj/xcuserdata/mitch.xcuserdatad/xcschemes/xcschememanagement.plist
